@font-face {
    font-family: 'Gilroy-Bold';
    src: url(../fonts/Gilroy-Bold.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url(../fonts/Gilroy-Medium.ttf);
    font-weight: 800;
    font-style: normal;
}
*{
    box-sizing: border-box;
    margin:0;
}
html{
    font-family: Gilroy-Bold;
}
.container{
    max-width: 950px;
    width: 100%;
    margin: auto;
}
.buttonup {
    text-align: center;
    background: #828282;
    width: 40px;
    height: 40px;
    border-radius:50%;
    padding-top: 8px;
    position: fixed;
    bottom: 10px;
    right: 50px;
}
a{
    cursor: pointer;
}
/* header */
.nav__header{
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-bottom: 32px;
}
.link__header{
    text-decoration: none;
    font-size: 18px;
    color: #828282;
    font-family: Gilroy-Bold;
}
.link__header-black{
    color: #070707;
}
.link__logo{
    text-decoration: none;
    color: #070707;
}
.img__sub__menu{
    display: none;
}
.language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.lang {
    font-size: 16px;
    transform: rotate(-90deg);
}
.title__promo-2{
    display: none;
}
/* promo */
.promo__desc{
    display: flex;
    justify-content: space-between;
}
.title__promo{
    font-family: Gilroy-Bold;
    padding-top:40px;
    width: 123px;
    font-size: 47.3392px;
    color: #070707;
}
.text-1{
    font-family: Gilroy-Medium;
    padding-top: 95px;
    width: 156px;
    font-size: 18px;
    color: #070707;
}
.img__promo{
    padding-top: 50px;
    margin-bottom: 105px;
}
.img__promo-1{
    display: none;
}
.text-2{
    transform: rotate(-90deg);
}
/* about__us */
.about__us{
    background: #F6F6F6;
}
.about__us__block{
    padding-top: 120px;
    padding-bottom: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text__about__us{
    padding-top: 18px;
    width: 485px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
}
/* skills */
.skills__block{
    padding-top: 91px;
}
.skills__title{
    font-size: 34px;
    text-align: center;
    color: #070707;
}
.skills__text{
    padding-top: 70px;
    padding-bottom: 84px;
    font-family: Gilroy-Medium;
    font-size: 18px;
    text-align: center;
    color: #070707;
}
.cards__skills{
    display: flex;
    justify-content: space-between;
    padding-bottom: 111px;
}
.card__skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card__skill__text{
    width: 70px;
    padding-top: 21px;
    padding-bottom: 40px;
    font-size: 14px;
    text-align: center;
    color: #828282;
}
.card__skill__text-3{
    width: 80px;
}
/*Portfolio */
.portfolio{
    background: #F6F6F6;
}
.title__portfolio{
    padding-top: 113px;
    padding-bottom: 47px;
    font-size: 34px;
    text-align: center;
    color: #070707;
}
.text__portfolio{
    padding-top: 45px;
    padding-bottom: 100px;
    font-size: 18px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}
/* footer */
.title__footer{
    padding-top: 115px;
    font-size: 34px;
    text-align: center;
    color: #070707;
}
.text__footer{
    font-family: Gilroy-Medium;
    padding-top: 20px;
    font-size: 18px;
    text-align: center;
    color: #070707;
}
.button{
    display: flex;
    justify-content: center;
}
.button__footer{
    padding-top: 10px;
    padding-bottom:10px;
    padding-left:30px;
    padding-right: 30px;
    text-decoration: none;
    background:#070707;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    border-radius:20px;
    margin-bottom:85px;
    margin-top: 30px;
}
.contact__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 45px;
}
.footer__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img__footer{
    padding-right:60px;
}
.text__footer__bottom{
    font-family: Gilroy-Medium;
    font-size: 14px;
    text-align: center;
    color: #828282;
    padding-bottom: 123px;
}
/* адаптация */
@media(max-width:960px){
    .img__promo{
        width: 700px;
        margin-left: 10px;
    }
    .img__portfolio{
        width: 700px;
        margin-left: 10px;
    }
    .language{
        display: none;
    }
}
@media(max-width:720px){
    .language{
        display: none;
    }
    .img__promo{
        width: 550px;
        margin-left:5px;
    }
    .img__portfolio{
        width: 550px;
        margin-left: 5px;
    }
}
@media(max-width:560px){
    .img__promo{
        display: none;
    }
    .img__promo-1{
        display: flex;
        margin-left: 130px;
    }
    .block__header{
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
    }
    .title__promo-2{
        padding-top: 0;
        display: block;
        font-size: 47px;
        line-height: 58px;
    }
    .title__promo-1{
        display: none;
    }
    .nav__header{
        display: none;
    }
    .nav__burger{
        position: relative;
        width: 40px;
        height: 40px;
        background:url(../img/sub__menu.png) no-repeat center/ 20px;
    }
    .nav__burger:hover{
        background:url(../img/close.svg) no-repeat center/ 40px;
    }

    .nav__burger:hover> .nav__header{
        display: flex;
        flex-direction: column;
        position: fixed;
        left:0px;
        width:100%;
        height:90%;
        top: 0px;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 30px;
        background:#FFFFFF;
        border:none;
    }
    .link__header{
        padding-bottom: 20px;
    }
}
@media(max-width:376px){
   .block__header {
       display: flex;
       margin-right: 30px;
       margin-left: 30px;
   }
    .promo{
        margin-left: 28px;
    }
    .img__promo{
        display: none;
    }
    .img__promo-1{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
    .img__portfolio{
        width: 316px;
        margin-left: 29px;
    }
    .language{
        display: none;
    }
    .promo__desc{
        flex-direction: column;
        padding-bottom: 36px;
    }
    .text-1{
        padding-top:23px;
    }
    .title__about__us{
        font-size: 34px;
    }
    .text__about__us{
        max-width:316px;
    }
    .about__us__block{
        padding-bottom: 76px;
    }
    .cards__skills{
        display: flex;
        flex-direction: column;
    }
    .card__skill{
        padding-bottom: 81px;
    }
    .nav__header {
        display: none;
    }
    .sub__menu{
        position: relative;
        display: flex;
    }
    .img__sub__menu{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items:center;
    }
    .img__sub__menu:hover > .nav__header {
        position: absolute;
        display: flex;
        flex-direction: column;
        background:white;
        width: 300px;
        padding-left: 20px;
    }
    .buttonup{
        right:5px;
    }
}
/* анимация */
.link__header:hover{
    animation-name:bounce;
    animation-duration:0s;
    animation-fill-mode: forwards;
}
@keyframes bounce{
    to{
        color:black;
    }
}
.button__footer:hover {
    transform: translateY(2px);
}
.link__footer:hover{
    transform: translateY(2px);
}
